<h1>Cadastro de Pessoa</h1>
<form method="post" action="/tecnicos/cadastro">
    <label>NOME</label>
    <input type="text" name="nome" required>
    <label>CPF</label>
    <input type="text" name="cpf" required>
    <label>TELEFONE</label>
    <input type="tel" name="telefone" required>
    <label>EMAIL</label>
    <input type="email" name="email" required>
    <label>SENHA</label>
    <input type="password" name="senha" required>
    <button type="submit">CADASTRAR</button>
</form>