<h1>Bem vindo</h1>
<a href="/admin/pessoas" style="padding-right: 10px;">Pessoas</a>
<a href="/admin/usuarios" style="padding-right: 10px;">Usuarios</a>
<a href="/admin/chamados" style="padding-right: 10px;">Chamados</a>
<a href="/admin/atendimentos" style="padding-right: 10px;">Atendimentos</a>
<a href="/admin/feedbacks" style="padding-right: 10px;">Feedbacks</a>
<a href="/admin/tecnicos">Tecnicos</a>
<h2>{{usuario.id}}</h2>
<h3>{{usuario.email}}</h3>