<h1>Bem vindo</h1>
<a href="/pessoa/cadastro" style="padding-right: 10px;">cadastro de pessoa</a>
<a href="/usuario/login" style="padding-right: 10px;">login de usuario</a>
<a href="/chamados/cadastro" style="padding-right: 10px;">cadastro de chamado</a>
<a href="/chamados/meuschamados" style="padding-right: 10px;">meus chamados</a>
<a href="/atendimentos/pendentes" style="padding-right: 10px;">Atendimentos pendentes</a>
<a href="/feedback/" style="padding-right: 10px;">feedback</a>
<a href="/pessoa/editar" style="padding-right: 10px;">editar dados</a>
<a href="/tecnico/editar">Editar tecnico</a>
<button onclick="excluirPessoa()">Excluir cadastro</button>
<h2>{{usuario.id}}</h2>
<h3>{{usuario.email}}</h3>