<h1>Cadastro de chamado</h1>
<form method="post" action="/chamados/cadastro">
    <label>TÍTULO</label>
    <input type="text" name="titulo" required>
    <label>DESCRICAO</label>
    <input type="text" name="descricao" required>
    <button type="submit">CADASTRAR</button>
</form>