<table>
    <tr>
        <th>ID</th>
        <th>DESCRICAO</th>
        <th>STATUS</th>
    </tr>
    {{#each chamados}}
        <tr>
            <td>{{id}}</td>
            <td>{{descricao}}</td>
            <td>{{status}}</td>
        </tr>
    {{/each}}
</table>