<nav class="navbar bg-primary">
    <div class="container-fluid">
        <span class="navbar-brand text-white mb-0 h1">
            <a href="/" class="text-decoration-none text-white">Big Carlo's technical support</a>
        </span>
        <div class="dropdown">
            <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="fa-solid fa-user"></i> Usuário
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#"><i class="fa-regular fa-id-card"></i> Meus Dados</a></li>
                <li><a class="dropdown-item" href="#"><i class="fa-solid fa-key"></i> Alterar Senha</a></li>

                <div class="dropdown-divider"></div>
                <li>
                    <a class="dropdown-item" href="#"><i class="fa-solid fa-right-from-bracket"></i> Sair</a>
                </li>
            </ul>
        </div>
    </div>
</nav>