<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Big Carlo's Technical Support</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/img/carlos.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body class="bg-light">
    {{>navlogin}}
    {{>msg}}
    {{{body}}}
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>