<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Big Carlo's technical support</title>
</head>
<body>
    <h2>Suporte Técnico</h2>
    {{{body}}}
</body>
</html>