<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Big Carlo's technical support</title>
</head>
<body>
    <h2>Suporte Técnico</h2>
    {{#if success_msg}}
    <h1 style="color: green;">{{success_msg}}</h1>
    {{/if}}
    {{#if error_msg}}
    <h1 style="color: red">{{error_msg}}</h1>
    {{/if}}
    {{{body}}}
</body>
</html>