<table>
    <tr>
        <th>ID</th>
        <th>NOME</th>
        <th>AVALIAÇÃO</th>
        <th>DISPONIBILIDADE</th>
    </tr>
    {{#each tecnicos}}
        <tr>
            <td>{{id}}</td>
            <td>{{nome}}</td>
            <td>{{avaliacao}}</td>
            <td>{{disponibilidade}}</td>
        </tr>
    {{/each}}
</table>