<div>
    <nav>
        <a href="/atendimentos">Voltar</a>
    </nav>
    <table>
        <tr>
            <th>ID</th>
            <th>RESUMO</th>
            <th>CHAMADO_ID</th>
        </tr>
        {{#each atendimentos}}
            <tr>
                <td>{{id}}</td>
                <td>{{resumo}}</td>
                <td>{{chamado_id}}</td>
                <td>
                    <a href="/atendimentos/editar/{{id}}">editar</a>
                </td>
            </tr>
        {{/each}}
    </table>
</div>