<table>
    <tr>
        <th>NOME</th>
        <th>CPF</th>
        <th>TELEFONE</th>
        <th>EMAIL</th>
    </tr>
    {{#each pessoas}}
        <tr>
            <td>{{nome}}</td>
            <td>{{cpf}}</td>
            <td>{{telefone}}</td>
            <td>{{email}}</td>
        </tr>
    {{/each}}
</table>