<h1>LOGIN</h1>
<form method="post" action="/usuario/login">
    <label>EMAIL</label>
    <input type="email" name="email" required>
    <label>SENHA</label>
    <input type="password" name="senha" required>
    <button type="submit">LOGIN</button>
    <a href="/pessoa/cadastro">Não tem uma conta? Cadastre-se</a>
</form>